<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <header style="display: flex;">
        <section>
       <img src="perfil.jfif" alt="Foto da princesa jujuba" height="100px" width="100px">
          </section>
    
          <section>
            <br> <br>
            &nbsp; &nbsp; &nbsp;
            Everton | 20 | Ev3rtonm | Touro  <br>
            &nbsp; &nbsp; Everton.barbosa1305@gmail.com</section>
    
        </header>
    
          <nav>
            <hr>
            &nbsp; <a href="MySite.html">Sobre mim</a> | 
          <a href="entrenimento.html">Entretenimeto</a> |
          <a href="musica.html">Músicas</a> |
          <a href="contato.html">Contatos</a>
        <hr>
          </nav>

          <h2>Fale comigo!</h2>

          <section>
            <form action="">
                <label for="nome">Nome:</label>  
                <input type="text" name="nome" id="nome">
                    <br><br>
                <label for="email">E-mail:</label> 
                <input type="email" name="email" id="email"> 
                    <br><br>
                <label for="whatsapp">Whatsapp:</label>
                <input type="number" name="whatsapp" id="whatsapp">
                    <br><br>
                <label for="nascimento">Data de Nascimento</label>
                <input type="date" name="nascimento" id="nascimento">
                    <br><br>
                <textarea name="texto" id="texto" cols="20" rows="10" placeholder="Escreva sua mensagem"></textarea>
                    <br><br>
                <input type="submit">

            </form>
          </section>
          <hr>
          <FOOTer> By Everton Barbosa</FOOTer>
</body>
</html>