* {

}

header {
    background-color: aqua;
    
}

h1 {
    text-align: center;
    font-size: 20px;
}

p {
    text-align: center;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #ccc;
}

a {
    text-decoration: none;
}
